.simonLight{
    position: absolute;
    z-index: 1;
    transition: .2s;
    filter: brightness(50%);
}

.simonLight:hover{
    animation: partAnimate 1s;
    animation-iteration-count: infinite; 
}

@keyframes partAnimate{
    0% {
        filter: brightness(50%);
    }

    50% {
        filter: brightness(100%);
    }
    100% {
        filter: brightness(50%);
    }
}


.simonGreen{
    top: 0%;
    left: 0%;
    width: 39%;
    height: 39%;
    background: url(../../assets/images/simonTL.png);
}

.simonRed{
    top: 0%;
    right: 0%;
    width: 39%;
    height: 39%;
    background: url(../../assets/images/simonTR.png);
}
.simonBlue{
    bottom: 0%;
    right: 0%;
    width: 39%;
    height: 39%;
    background: url(../../assets/images/simonBR.png);
}
.simonYellow{
    bottom: 0%;
    left: 0%;
    width: 39%;
    height: 39%;
    background: url(../../assets/images/simonBL.png);
}