.simonLight{
    width: 100%;
    height: 100%;
}

.green{
    background: url(./assets/images/green.png) no-repeat;
}

.red{
    background: url(./assets/images/red.png) no-repeat;
}

.yellow{
    background: url(./assets/images/yellow.png) no-repeat;
}

.blue{
    background: url(./assets/images/blue.png) no-repeat;
}

.simonLight.off{
    
    filter: brightness(50%);
}

.simonLight.on{
    
    filter: brightness(100%);
}

