.simon{

    position: relative;
    width: 640px;
    height: 640px;;
    background: url(./assets/images/frame.png) center no-repeat;
    background-size: 50% 50%;
}

.zUp{
    position: relative;
    z-index: 25;
}

/* .simon:hover{
    animation: spin 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes spin{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
} */