.simon{
    position: relative;
    margin: 0 auto;
    width: 75%;
    padding-top: 75%; 
}

.simon.spin{
    animation: spin 30s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}

@keyframes spin{
    0%{transform: rotate(0)}
    100%{transform: rotate(360deg)}
}



.lightButton{
    position: absolute;
    transform: rotate(45deg);
    opacity: 0;
    z-index: 1000;
    top: 8%;
    left: 35%;
    width: 40%;
    height: 100%;
}

.center .lightButton{
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
    transform: rotate(0);
}
